@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');
.App {
  min-height: 100%;
  background-color: #F2EEE9
}
/*Fonts*/
.heading-font {
  font-family: 'Fjalla One', sans-serif;
}

.body-font {
  font-family: 'Roboto', serif;
}

/* Backgrounds */
.background-white {
  background-color: #F2F2F2;
}

.background-grey {
  background-color: #C4C4C4;
}
/*Buttons*/
.btn-yellow {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  color: #1D1C1B;
  font-size: 16px;
  background: #E4BD5D;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-yellow:hover {
  background: #F5BE36;
  text-decoration: none;
}

.btn-jits {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #4D4A5E;
  font-size: 16px;
  background: ;
  padding: 10px 20px 10px 20px;
  border: solid #4D4A5E 2px;
  text-decoration: none;
}

.btn-jits:hover {
  background: #4D4A5E;
  color: #F2EEE9;
  text-decoration: none;
}

/* .btn-purple {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  color: #F2F2F2;
  font-size: 16px;
  background: #4D4A5E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
} */

.btn-purple:hover {
  background: #575373;
  text-decoration: none;
}

.btn-delete {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #F2EEE9;
  font-size: 16px;
  background: #E33935;
  padding: 10px 20px 10px 20px;
  border: solid #E33935 2px;
  text-decoration: none;
}

.btn-delete:hover {
  color: #E33935 !important;
  background: #F2EEE9;
  text-decoration: none;
}


/* wrappers */
.landing-section-wrapper1{
  background-color: #F2EEE9;
}

.landing-section-wrapper2{
  background-color: #4D4A5E;
}

.landing-section-wrapper3{
  background-color: #E4BD5D;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  height: 0;
  padding-bottom: 56.25%; /*16 x 9*/
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.container > .player {
  width: 100%;
  height: 360px;
}

/* Buttons */

.btn-purple {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  color: #F2F2F2;
  font-size: 16px;
  background: #4D4A5E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-purple:hover {
  background: #575373;
  text-decoration: none;
}

.btn-yellow {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  color: #1D1C1B;
  font-size: 16px;
  background: #E4BD5D;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-yellow:hover {
  background: #F5BE36;
  text-decoration: none;
}

.btn-jits {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #4D4A5E;
  font-size: 16px;
  background: transparent;
  padding: 8.2px 18px;
  border: solid #4D4A5E 2px;
  text-decoration: none;
}

.btn-jits:hover {
  background: #4D4A5E;
  color: #F2EEE9;
  text-decoration: none;
}

.h-0 {
  height: 0;
  display: none;
  transition: display .5s
}