@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');

/* wrappers */
.landing-section-wrapper1{
  background-color: #F2EEE9;
}

.landing-section-wrapper2{
  background-color: #4D4A5E;
}

.landing-section-wrapper3{
  background-color: #E4BD5D;
}
