.card {
  margin: 5%;
  background-color: #F2EEE9;
  border-radius: 0 !important;
  border: none !important
}

.card-img-top {
  border-radius: 0 !important;
  border: none
}

.card-block {
  padding: 1%
}

p.card-text {
  font-family: 'Fjala One', sans-serif;
}

h4.card-title {
  font-family: 'Fjala One', sans-serif;
  color: #000000;
  padding: 1%
}

h4.card-title:hover {
  font-family: 'Fjala One', sans-serif;
  color: #4D4A5E;
}

@media (min-width: 768px) {
  .card {
    width: 30%;
    margin: 1%;

  }
}