/* ================================== */
/* Global (but 'mobile first' rules) */
/* ================================== */

/* Subscribe Button */
.subscribe-landing {
  font-family: 'Fjalla One', sans-serif;
  color: #F2EEE9;
  font-size: 1.3em;
  display: block;
  cursor: pointer;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

/* Video Buttons */
.watch-videos {
  font-family: 'Fjalla One', sans-serif;
  color: #F2EEE9;
  font-size: 1.2em;
  display: block;
  cursor: pointer;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

/* fonts */
.fonts h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
}
.fonts h3{
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
}
.fonts p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* Text adjustment and alignment */
.landing-page-text{
  text-align: center;
  margin: 0px 20px 0px 20px;
}
.landing-page-para{
  padding: 20px 0px 20px 0px;
}
.landing-page-text2{
  text-align: center;
  margin: 0px 20px 0px 20px;
  color:white;
}
.landing-page-text2h{
  text-align: center;
  margin: 0px 20px 0px 20px;
  color:#E4BD5D;
}
    /* Wrapper 0 */
.landing-section-wrapper0{
  margin: 0 auto;
  padding: 0 auto;
  height: 350px;
}
.wrapper0-text{
  color:#CCA035;
}
.wrapper0-image{
  background-image: url('../images/SpineMobs.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.wrapper0-opacity{
  background:rgba(230, 230, 230, 0.85);
  height:100%;
  width:100%;
}
.wrapper0-padding{
  padding-top: 50px;
}
    /* Wrapper 1 */
.landing-section-wrapper1{
  padding: 70px 0px 70px 0px;
  background-color: #F2EEE9;
}
.wrapper1-text-spacing{
  padding-bottom: 10px;
}
.mobility-image{
  height: 100px;
  width: 100px;
}
.strength-image{
  height: 100px;
  width: 100px;
}
.injury-prevention-image{
  height: 100px;
  width: 100px;
}
    /* Responsive Inline Blocks */
.responsive-button1{
  color: white !important;
  text-decoration: none !important;
}
.responsive-button2{
  color: white !important;
  text-decoration: none !important;
}
.responsive-button3{
  color: white !important;
  text-decoration: none !important;
}

    /* Wrapper 2 */
.landing-section-wrapper2{
  padding: 70px 0px 70px 0px;
  background-color: #4D4A5E;
}
.about-me-photo{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  max-width: 50%;
}
    /* Wrapper 3 */
.landing-section-wrapper3{
  padding: 30px 0px 70px 0px;
  background-color: #C4C4C4;
}
.wrapper3-laptop-image{
  width: 35%;
  min-width: 275px;
}
.icon-credits{
  font-size:8px;
  color: #4D4A5E !important;
  text-decoration: none !important;
}





/* =========================== */
/* Desktop/ipad media rules */
/* =========================== */

@media screen and (min-width:768px){
  /* Text adjustment and alignment */
  .landing-page-text{
    text-align: center;
    margin: 0px 20px 0px 20px;
  }
  .landing-page-para{
    padding-top: 20px;
  }
  .landing-page-text2{
    text-align: center;
    margin: 0px 20px 0px 20px;
    color:white;
  }
  .landing-page-text2h{
    text-align: center;
    margin: 0px 20px 0px 20px;
    color:#E4BD5D;
  }
      /* Wrapper 0 */
  .landing-section-wrapper0{
      margin: 0 auto;
      padding: 0 auto;
      height: 100%;
    }
      /* Wrapper 1 */
  .landing-section-wrapper1{
    padding: 70px 0px 70px 0px;
    background-color: #F2EEE9;
  }
      /* Responsive Description Buttons */
  .responsive-button1{
    position: relative;
    top: 48px;
    color: white !important;
    text-decoration: none !important;
  }
  .responsive-button2{
    position: relative;
    top: 75px;
    color: white !important;
    text-decoration: none !important;
  }
  .responsive-button3{
    position: relative;
    top: 102px;
    color: white !important;
    text-decoration: none !important;
  }
      /* Wrapper 2 */
  .landing-section-wrapper2{
    padding: 70px 0px 70px 0px;
    background-color: #4D4A5E;
  }
  .about-me-photo{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
      /* Wrapper 3 */
  .wrapper3-laptop-image{
    width: 55%;
    min-width: 400px;
  }
      /* Responsive Inline Blocks */
  .responsive-group{
    display: inline-block;
  }
  .responsive-row-main{
    display: inline-block;
    position: relative;
    top: 100px;
    right: 225px;
    width: 300px;
    height: 550px;
  }
  .responsive-row-description{
    display: inline-block;
    width: 230px;
    height: 600px;
    vertical-align:top;
  }
  .responsive-row-about{
    display: inline-block;
    width: 280px;
    height: 500px;
    padding: 0px 30px 0px 30px;
    vertical-align:middle;
  }
      
}