/* Add a black background color to the top navigation */
.topnav {
  background-color: #E4BD5D;
  overflow: hidden;
}

.subscribe-nav {
  font-family: 'Fjalla One', sans-serif;
  color: F2EEE9;
  font-size: 1.3em;
  float: right;
  display: block;
  cursor: pointer;
}
/* Style the links inside the navigation bar */
.topnav .navlink {
  font-family: 'Fjalla One', sans-serif;
  float: right;
  display: block;
  color: #1D1C1B;
  text-align: center;
  text-decoration: left;
  font-size: 1.3em;
  border-bottom: 3px solid rgb(255, 255, 255, 0);
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav .navlink:hover {
  color: #4D4A5E;
  border-bottom: 3px solid transparent;
  border-color: #4D4A5E;
  text-decoration: none;
  transition: border-bottom .5s;
}

.active-navlink {
  border-bottom: 3px solid transparent;
  border-color: #4D4A5E;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  font-size: 36px;
}

.logo {
  width: 140px;
  height: auto;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav .navlink {display: none;}
  .topnav span.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive span.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*OVERLAY*/
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #1D1C1B;; /* Black fallback color */
  background-color: rgba(29,28,27, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 2%;
  text-decoration: none;
  font-size: 36px;
  color: #F2EEE9;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay span {
  padding: 2%;
  text-decoration: none;
  font-size: 36px;
  color: #F2EEE9;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #727D7E;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  color: #F2EEE9;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
}