.show_page_div {
  background-color: #4D4A5E;
  padding-bottom: 10px;
}

/* Styling for 'Share on Facebook button' */
.share_on_facebook_div {
  background-color: #F2EEE9;
  padding-bottom: 10px;
}

.share_on_facebook_link {
  padding-left: 17vw;
}

.share_on_facebook_button {
  background-color: blue;
  border-color: blue;
}

.share_on_facebook_button:hover {
  background-color: grey;
}

.facebook_logo {
  width: 20px;
  height:20px;
}

.share_on_facebook_words {
  padding-left: 4px;
  color: white;
}

h2.recommended {
  color: white;
}