@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');

.show_page_div {
  background-color: #4D4A5E;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* fonts */
.fonts h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
}

/* Styling for 'Share on Facebook button' */
.share_on_facebook_div {
  padding-bottom: 10px;
  background-color: #F2EEE9;
}

.share_on_facebook_link {
  margin-left: 17vw;
  padding-left: 4px;
}

.share_on_facebook_button {
  background-color: blue;
  border-color: blue;
}

.share_on_facebook_button:hover {
  background-color: grey;
}

.facebook_logo {
  width: 20px;
  height:20px;
}

.share_on_facebook_words {
  padding-left: 4px;
  color: white;
}

h2.recommended {
  color: white;
  padding-left: 4px;
}