.show_page_div {
  background-color: #4D4A5E;
}

.container-fluid {
  border: 2px solid red;
}

.container {
  border: 2px solid orange;
}

.row {
  padding-bottom: 2px;
  border: 2px solid yellow; 
}

.col_div {
  border: 2px solid green;
}

h2 {
  border: 2px solid blue;
}
a {
  border: 2px solid indigo;
}